---
---

@import "unslider-master/dist/css/unslider";

.navbar {
    background: rgba(255, 255, 255, 0.68);
}
.unslider {
    width: 100%;
    height: 100%;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 0;
    section,ul{height: 100%}
    div {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}