---
#
---

@import "bootstrap-sass/assets/stylesheets/_bootstrap",
        "_syntax-highlighting"
;
.main-content{
    background: #fff;
    border-radius: 3px;
}
.categorie-nav-list>li{
    cursor: pointer;
    ul{
        padding-left: 0;
        list-style-type: none;
        ul{padding-top: 5px;}
    }
}