<!DOCTYPE html>
<html>
    {% include head.html %}
<body>
    {% include header.html %}
    {{ content }}
    {% comment %}
    {# include footer.html #}
    {% endcomment %}
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    {% if page.js %}
        {% for js in page.js %}
        <script src="{{ js | prepend: site.baseurl }}"></script>
        {% endfor %}
    {% endif %}
    <script type="text/javascript">
    $(function(){
        $('.categorie-nav-list > li').on('click',function(){
            $(this).children('ul').toggleClass('hidden')
        });
    });
    </script>
</body>
</html>